.s-c {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.s-m {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.s-c-m {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.s-a-l {
  text-align: left;
}

.s-a-c {
  text-align: center;
}

.s-a-r {
  text-align: right;
}

.inline {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

.text-over-flow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}